---
import Alts from '../component/alts.svg?raw';
import Apollo from '../component/apollo.svg?raw';
import Bans from '../component/bans.svg?raw';
import Connections from '../component/connections.svg?raw';
import FiveM from '../component/fivem.svg?raw';
import Logs from '../component/logs.svg?raw';
import Players from '../component/players.svg?raw';
import Triggers from '../component/triggers.svg?raw';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Astro</title>
  </head>
  <body>
    <div class="anim-container">
      <div class="players" style="left: 10%; top: 15%">
        <div class="overlay"></div>
        <Fragment set:html={Players} />
        <p class="text">Players</p>
      </div>
      <div class="fivem" style="left: 20%; top: 80%">
        <div class="overlay"></div>
        <Fragment set:html={FiveM} />
        <p class="text">Apollo</p>
      </div>
      <div class="connections" style="left: 25%; top: 40%">
        <div class="overlay"></div>
        <Fragment set:html={Connections} />
        <p class="text">Connections</p>
      </div>
      <div class="logs" style="left: 40%; top: 10%">
        <div class="overlay"></div>
        <Fragment set:html={Logs} />
        <p class="text">Logs</p>
      </div>
      <div class="bans" style="left: 50%; top: 70%">
        <div class="overlay"></div>
        <Fragment set:html={Bans} />
        <p class="text">Bans</p>
      </div>
      <div class="triggers" style="left: 55%; top: 35%">
        <div class="overlay"></div>
        <Fragment set:html={Triggers} />
        <p class="text">Triggers</p>
      </div>
      <div class="apollo" style="left: 75%; top: 60%">
        <div class="overlay"></div>
        <Fragment set:html={Apollo} />
        <p class="text">Webhooks</p>
      </div>
      <div class="alts" style="left: 80%; top: 15%">
        <div class="overlay"></div>
        <Fragment set:html={Alts} />
        <p class="text">Alts</p>
      </div>
    </div>
  </body>
</html>

<script>
  const replayAnimations = () => {
    document.getAnimations().forEach((anim) => {
      anim.cancel();
      anim.play();
    });
  };

  setInterval(replayAnimations, 40000);
</script>
<style>
  :root {
    --size: 75px;
  }

  html {
    background-color: black;
  }
  .anim-container {
    position: relative;
    width: 500px;
    height: 500px;
		border: 2px solid red;

    div {
      border-radius: 8px;
      position: absolute;

      .overlay {
        transition: 200ms !important;
        position: absolute;
        width: var(--size);
        height: var(--size);
        background-color: rgba(0,0,0,0.7);
        transform: scale(1.05);
        z-index: 10;
      }
      svg {
        transition: 200ms !important;
        width: var(--size);
        height: var(--size);

        border-radius: 8px;
        transform: scale(0.9);
        filter: grayscale(100%);
        .icon {
          transform: translateY(0);
          animation: rect 5s ease-in-out forwards;
        }
      }
      .text {
        transition: 200ms !important;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.7em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.4);
        opacity: 0;
        color: white;
        font-weight: 300;
      }
    }
    .players {
      .overlay {
        animation: overlay 5s ease-in-out forwards 0s;
      }
      svg {
        animation: present 5s ease-in-out forwards 0s;
        .icon {
          animation: rect 5s ease-in-out forwards 0s;
        }
      }
      .text {
        animation: text 5s ease-in-out forwards 0s;
      }
    }
    .fivem {
      .overlay {
        animation: overlay 5s ease-in-out forwards 5s;
      }
      svg {
        animation: present 5s ease-in-out forwards 5s;
        .icon {
          animation: rect 5s ease-in-out forwards 5s;
        }
      }
      .text {
        animation: text 5s ease-in-out forwards 5s;
      }
    }
    .connections {
      .overlay {
        animation: overlay 5s ease-in-out forwards 10s;
      }
      svg {
        animation: present 5s ease-in-out forwards 10s;
        .icon {
          animation: rect 5s ease-in-out forwards 10s;
        }
      }
      .text {
        animation: text 5s ease-in-out forwards 10s;
      }
    }
    .logs {
      .overlay {
        animation: overlay 5s ease-in-out forwards 15s;
      }
      svg {
        animation: present 5s ease-in-out forwards 15s;
        .icon {
          animation: rect 5s ease-in-out forwards 15s;
        }
      }
      .text {
        animation: text 5s ease-in-out forwards 15s;
      }
    }
    .bans {
      .overlay {
        animation: overlay 5s ease-in-out forwards 20s;
      }
      svg {
        animation: present 5s ease-in-out forwards 20s;
        .icon {
          animation: rect 5s ease-in-out forwards 20s;
        }
      }
      .text {
        animation: text 5s ease-in-out forwards 20s;
      }
    }
    .triggers {
      .overlay {
        animation: overlay 5s ease-in-out forwards 25s;
      }
      svg {
        animation: present 5s ease-in-out forwards 25s;
        .icon {
          animation: rect 5s ease-in-out forwards 25s;
        }
      }
      .text {
        animation: text 5s ease-in-out forwards 25s;
      }
    }
    .apollo {
      .overlay {
        animation: overlay 5s ease-in-out forwards 30s;
      }
      svg {
        animation: present 5s ease-in-out forwards 30s;
        .icon {
          animation: rect 5s ease-in-out forwards 30s;
        }
      }
      .text {
        animation: text 5s ease-in-out forwards 30s;
      }
    }
    .alts {
      .overlay {
        animation: overlay 5s ease-in-out forwards 35s;
      }
      svg {
        animation: present 5s ease-in-out forwards 35s;
        .icon {
          animation: rect 5s ease-in-out forwards 35s;
        }
      }
      .text {
        animation: text 5s ease-in-out forwards 35s;
      }
    }
  }
  @keyframes overlay {
    0% {
      transform: scale(0.9)
      background-color: rgba(0,0,0,0.7);
    }
    15% {
      transform: scale(1);
      background-color: transparent;
    }
    85% {
      transform: scale(1);
      background-color: transparent;
    }
    100% {
      transform: scale(0.9);
      background-color: rgba(0,0,0,0.7);
    }
  }
  @keyframes present {
    0% {
      transform: scale(0.9);
			filter: grayscale(100%);
      box-shadow: none;
    }
		15% {
      box-shadow: 0 0 0 20px rgba(255, 127, 78, 0.1);
      transform: scale(1);
			filter: grayscale(0);
		}
    20% {
      transform: scale(1.05);
    }
    25% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.05);
    }
    35% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.05);
    }
    45% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    55% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.05);
    }
    65% {
      transform: scale(1);
    }
    70% {
      transform: scale(1.05);
    }
    75% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.05);
    }
		85% {
      transform: scale(1);
			filter: grayscale(0);
      box-shadow: 0 0 0 20px rgba(255, 127, 78, 0.1);
		}
    100% {
      transform: scale(0.9);
			filter: grayscale(100%);
    }
  }
  @keyframes rect {
    0% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(-10%);
    }
    85% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes text {
    0% {
      transform: translate(-50%, -50%) scale(0.5);
    }
    15% {
      opacity: 1;
      transform: translate(-50%, 40%) scale(1);
    }
    20% {
      transform: translate(-50%, 50%) scale(1.05);
    }
    25% {
      transform: translate(-50%, 40%) scale(1);
    }
    30% {
      transform: translate(-50%, 50%) scale(1.05);
    }
    35% {
      transform: translate(-50%, 40%) scale(1);
    }
    40% {
      transform: translate(-50%, 50%) scale(1.05);
    }
    45% {
      transform: translate(-50%, 40%) scale(1);
    }
    50% {
      transform: translate(-50%, 50%) scale(1.05);
    }
    55% {
      transform: translate(-50%, 40%) scale(1);
    }
    60% {
      transform: translate(-50%, 50%) scale(1.05);
    }
    65% {
      transform: translate(-50%, 40%) scale(1);
    }
    70% {
      transform: translate(-50%, 50%) scale(1.05);
    }
    75% {
      transform: translate(-50%, 40%) scale(1);
    }
    80% {
      transform: translate(-50%, 50%) scale(1.05);
    }
    85% {
      opacity: 1;
      transform: translate(-50%, 40%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%) scale(0.5);
    }

  }
</style>
